<!DOCTYPE html>
<html lang="sv">
<head>
	<title>Trafikhändelser från SR Trafik</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include partials/meta.ejs %>
	<%- include partials/css.ejs %>
	<style>
		body, html {
			height: 100%;
			width: 100%;
		}
	</style>
</head>
<body class="container-fluid" ng-app="TrafficReportApp">
	<div class="row" ng-controller="TrafficReportAppController as trafficreport">
		<traffic-menu areas="{{trafficreport.areas}}" events="{{trafficreport.events}}" categories="{{trafficreport.categories}}">
		</traffic-menu>
		<ui-gmap-google-map center='{{trafficreport.map.center}}' zoom='{{trafficreport.map.zoom}}' style="height:100%;">
		<!--<ui-gmap-google-map center="" zoom="" style="height:100%;">-->
		</ui-gmap-google-map>
	</div>
    <%- include partials/scripts.ejs %>
</body>
</html>