<!DOCTYPE html>
<html lang="sv">
<head>
    <title>Trafikhändelser från SR Trafik</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include partials/meta.ejs %>
    <%- include partials/css.ejs %>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <style>
        body, html {
            width: 100%;
            height: 100%;
        }
        .angular-google-map-container {
            height: 75vh;
            width: 100vw;
            height: 600px;
        }
    </style>
</head>
<body class="container-fluid" ng-app="TrafficReportApp" ng-cloak>
<div class="row" ng-controller="TrafficReportAppController as trafficreport">
    <traffic-menu messages="trafficreport.messages">
    </traffic-menu>

    <ui-gmap-google-map center="trafficreport.map.center" zoom="trafficreport.map.zoom">
        <ui-gmap-markers models="trafficreport.markers"
                         coords="'self'"
                         id="'id'"
                         click="'click'"
                         options="'options'"
                         icon="'icon'">
            <ui-gmap-windows show="'show'">
                <div ng-non-bindable>
                    <h4>{{ title }}</h4>
                    <p><strong>{{ category }}</strong>  <small>{{ date }}</small></p>
                    <p><em>{{description}}</em></p> <br>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>

    <footer class="col-sm-12" style="height: 10vh;">
        <p class="pull-right small">
           <br> Google Maps Mashup by <a href="https://github.com/antonkandersson">Anton K. Andersson</a>.
        </p>
    </footer>
</div>
<%- include partials/scripts.ejs %>
</body>
</html>