doctype html
html(lang="en")
    head
        title Nody Message
        // all your meta-data should go here
        include partials/meta
        // bootstrap from jsDelivr, just remove or edit the partial if you're into custom CSS
        include partials/jsdelivr_css

    include partials/body