doctype html
html(lang="en")
head
	title Lab1 by aa223ap
	link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
	meta(name="viewport" content="width=device-width, initial-scale=1")
body.container-fluid
