body.container-fluid.text-center
    div.row
        include login-form
        // angular.min.js + angular-animate gets pulled in from jsDelivr
        // also inserts bootstrap.min.js from jsDelivr, remove if not wanted
        include jsdelivr_js

        footer.col-md-4
            // all your nice footer info
            include footer