<!-- Default home page -->
<div class="container-fluid">
  <form class="form-group">
    <legend>Labby Message Login</legend>
    <label for="username">User</label>
    <input id="username" type="text"/>
    <label for="password">Password</label>
    <input id="password" type="password"/>
  </form>
</div>

