<h1 class="col-xs-6 text-center">
    <i class="fa fa-car"></i> Trafikdata från SR Trafik
</h1>
<nav class="col-xs-6" style="height: 15vh;">
    <ul class="nav nav-tabs pull-down">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-bolt"></i> Händelser <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="traffic-events">

            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-tag"></i> Sortering <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                        <a id="categories-all" data-toggle="tab">Alla kategorier</a>
                 </li>
                                 <li class="divider"></li>

                <li>
                        <a id="categories-traffic" data-toggle="tab">Vägtrafik</a>
                 </li>
                                 <li class="divider"></li>

                <li>
                        <a id="categories-transport" data-toggle="tab">Kollektivtrafik</a>
                 </li>
                                 <li class="divider"></li>

                <li>
                        <a id="categories-disturbance" data-toggle="tab">Störningar</a>
                 </li>
                                 <li class="divider"></li>

                <li>
                        <a id="categories-other" data-toggle="tab">Övrigt</a>
                 </li>
            </ul>
        </li>
    </ul>
</nav>